@model MVC_Library.Models.Entity.MEMBER
@{
    Layout = "~/Views/Shared/PanelLayout.cshtml";
}
<h3>Hoş geldiniz, @Model.NAME @Model.SURNAME</h3>
<div style="margin:5px"><b style="color:red">Kütüphane sisteminde kayıtlı bilgileriniz aşağıda yer almaktadır.</b></div>
@using (Html.BeginForm("UpdatePassword", "Panel", FormMethod.Post))
{<table class="table table-hover">
        <tr>
            <td><b>ID:</b> @Model.ID</td>
        </tr>
        <tr>
            <td><b>Kullanıcı adı:</b>  @HttpContext.Current.User.Identity.Name </td>
        </tr>
        <tr>
            <td><b>İsim:</b> @Model.NAME </td>
        </tr>
        <tr>
            <td><b>Soyisim:</b> @Model.SURNAME </td>
        </tr>
        <tr>
            <td><b>E-posta adresi:</b> @Model.MAIL </td>
        </tr>
        <tr>
            <td><b>Okuduğu okul:</b> @Model.SCHOOL </td>
        </tr>
        <tr>
            <td>
                <b>Şifre:</b> <input class="form-control" type="password" id="passx" name="PASSWORD" value="@Model.PASSWORD" />
                <button style="margin-top:3px" class="btn btn-warning" type="submit">Şifreyi Güncelle</button> <input class="checkbox" id="passwordcheck" type="checkbox" onclick="showpass()" /> <b><label for="passwordcheck" id="passtext"> Şifreyi Göster</label></b>
            </td>
        </tr>
    </table>
}


<script>
    function showpass() {
        var x = document.getElementById("passx");
        var y = document.getElementById("passtext");
        if (x.type === "password") {
            x.type = "text";
            y.innerText = " Şifreyi Gizle";
        } else {
            x.type = "password";
            y.innerText = " Şifreyi Göster";
        }
    }
</script>